@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

/********** Navigation Bar**********/
.navigation-bar {
  background-color: #0D0D2B;
}
.primary-nav a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
}
.register-btn {
  background-color: #3671E9;
  border-radius: 2rem;
}
.login-btn::after {
  content: '';
  height: 24px;
  width: 0px;
  border: 1px solid #F2F2F2;
  margin: 0 24px;
}
.mobile-popup {
  position: absolute;
  background-color: #252540;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 99%;
}
.mobile-popup .close-btn {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  right: 1.5rem;
  top: 1.5rem;
}

/******* Banner *********/
.banner {
  background-color: #0D0D2B;
  color: #fff;
  z-index: -1;
}
.promo {
  padding: 2px 8px 2px 0;
  background: rgba(255, 255, 255, 0.1);
}
.promo span {
  background-color: #fff;
  color: #0D0D2B;
}
.try-btn {
  background-color: #3671E9;
  color: #0D0D2B;
}
.try-btn span svg, .btn svg{
  background-color: #fff;
  color: #3671E9;
  font-size: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.illustration {
  height: 95%;
  width: 100%;
}
.banner-details h1 {
  line-height: 4rem;
}
.ruler1 {
  width: 100px;
  height: 1000.26px;
  top: 150px;
  left: 750px;
  background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
  transform: rotate(-120deg);
  color: transparent;
  z-index: 10 !important;
}
.ruler2 {
  width: 100px;
  height: 700px;
  right: 300px;
  top: 200px;
  background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
  transform: rotate(-120deg);
}


/********* Why Crappo ********/
.figure-icon {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 70px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.why-crappo {
  background-color: #0D0D2B;
  color: #FFFFFF;
  z-index: 2;
}
.d-curve {
  right: 0;
  top: 100px;
  width: 260px;
}
.u-curve {
  right: 0;
  bottom: 200px;
  width: 240px;
}
.ruler3 {
  background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
  width: 100px;
  height: 700px;
  left: 0;
  top: 300px;
  transform: rotate(-120deg);
}

/*********** Calculate ***********/
.calculate-title {
  background-color: #0D0D2B;
  color: #FFFFFF;
}
.revenue {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 50px;
  margin: 0 auto;
  top: 0;
}
.trader {
  background-color: #FFFFFF;
}
.hash-form {
  background-color: #FBFCFE;
  bottom: 0;
}
.hash-form input, .hash-form select{
  border-width: 0 0 1.2px 0;
  border-color: #E0E0E0;
  height: 50px;
  margin: 10px 20px;
  background-color: #FBFCFE;
  padding: 0 10px;
  color: #0D0D2B;
}
input:focus, select:focus {
  outline: none;
}
input::placeholder {
  color: #0D0D2B;
}
.blue-head {
  color: #3671E9;
}
.bitcoin {
  background: #2B076E;
}
.bitcoin {
  border-radius: 12px;
  color: #FFFFFF;
}
.ethereum, .litecoin {
  border-radius: 12px;
  color: #0D0D2B;
}
.arrow {
  background-color: #fff;
  color: #3671E9;
  border-radius: 50%;
  border: 2px solid rgba(43, 7, 110, 0.2);
}
.arrow svg{
  color: #3671E9;
  font-size: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.crypto-card img {
  width: 50px;
}
.btn {
  background-color: #3671E9;;
}
