@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

/********** Navigation Bar**********/
.navigation-bar {
  background-color: #0D0D2B;
}
.primary-nav a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
}
.register-btn {
  background-color: #3671E9;
  border-radius: 2rem;
}
.login-btn::after {
  content: '';
  height: 24px;
  width: 0px;
  border: 1px solid #F2F2F2;
  margin: 0 24px;
}
.mobile-popup {
  position: absolute;
  background-color: #252540;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 99%;
}
.mobile-popup .close-btn {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  right: 1.5rem;
  top: 1.5rem;
}

/******* Banner *********/
.banner {
  background-color: #0D0D2B;
  color: #fff;
}
.promo {
  padding: 2px 8px 2px 0;
  background: rgba(255, 255, 255, 0.1);
}
.promo span {
  background-color: #fff;
  color: #0D0D2B;
}
.try-btn {
  background-color: #3671E9;
}
.try-btn span svg{
  background-color: #fff;
  color: #3671E9;
  font-size: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.illustration {
  height: 95%;
  width: 100%;
}
.banner-details h1 {
  line-height: 4rem;
}

